@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, select {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: "微软雅黑"; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100; }

b, strong {
  font-weight: 100; }

em, i {
  font-style: normal; }

img {
  border: 0;
  display: block; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

#header, .header-top, .breadcrumb, .brandList {
  width: 1190px;
  margin: 0 auto; }

body {
  background: #fff; }

.ul-cont {
  display: none; }

.breadcrumb {
  color: #999;
  line-height: 50px;
  height: 50px;
  font-size: 12px;
  border-top: 2px solid #000000; }

.breadcrumb a {
  padding: 0px 5px;
  color: #666; }

.brandList {
  height: 3824px; }

.brandLeft {
  float: left;
  width: 220px;
  min-height: 1449px;
  _height: 1449px;
  background: #fff; }

.brandInBo {
  width: 218px;
  height: 667px;
  border: 1px solid #dbdbdb;
  border-top: 2px solid #000000; }

.infoBox {
  width: 220px;
  height: 635px; }

.brandInBo h3 {
  background: #ccc;
  padding: 3px 0;
  border-bottom: #666666;
  font-size: 14px;
  padding-left: 20px; }

.brandRight {
  width: 960px;
  height: 3824px;
  float: left;
  border-top: 1px solid #000000;
  margin-left: 10px;
  background: #fff; }

.hotInfo {
  width: 210px;
  height: 85px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 5px;
  margin: 10px 0;
  padding-left: 15px; }

.hotL {
  width: 64px;
  height: 64px;
  float: left; }

.hotL img {
  width: 64px;
  height: 64px; }

.hotR {
  width: 140px;
  height: 76px;
  float: left; }

.hotR p {
  width: 140px;
  height: 32px;
  line-height: 16px;
  font-size: 12px; }

.hotR strong {
  font-size: 14px;
  margin: 3px 0; }

.hotR span {
  font-size: 12px; }

.hotR p a {
  color: black; }

.hotR p a:hover {
  color: red;
  text-decoration: underline; }

.brandInfo {
  min-height: 198px;
  _height: 198px;
  width: 218px;
  border: 1px solid #dbdbdb;
  border-top: 1px solid #000000;
  margin-bottom: 16px;
  border-bottom: 3px solid #ccc; }

.brandInfo h3 {
  height: 31px;
  line-height: 31px;
  border-bottom: 1px solid #dbdbdb;
  background: #f7f7f7;
  text-indent: 16px;
  font-size: 14px;
  color: #151515;
  font-weight: normal;
  width: 218px; }

.hLink {
  border-top: 1px solid #dbdbdb; }

.brandInfo h3 a {
  font-size: 14px;
  color: #151515;
  font-weight: normal; }

.sClik {
  float: right;
  height: 16px;
  width: 16px;
  margin-right: 13px;
  margin-top: 8px;
  cursor: pointer;
  margin-top: 0px;
  background: url(../images/jia.jpg); }

.navBox {
  width: 202px;
  height: 150px;
  padding: 0 8px 0px 8px;
  display: none; }

.navBox h5 {
  height: 33px;
  line-height: 33px;
  font-weight: 500; }

.navBox p {
  width: 202px;
  height: 100%;
  padding: 0;
  border-bottom: 1px dashed #dbdbdb;
  padding-bottom: 10px; }

.navBox p a {
  background: #c91e00;
  color: #fff;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #151515;
  padding: 0 6px;
  text-decoration: none; }

.hotRec {
  width: 960px;
  height: 183px;
  border: 1px solid #ccc;
  margin-bottom: 15px; }

.hotSort {
  height: 32px;
  line-height: 32px;
  border: 1px solid #dfdfdf;
  background: #f7f7f7;
  width: 958px;
  margin-bottom: 13px; }

.remai {
  float: left;
  width: 98px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  color: #151515; }

.recList {
  width: 913px;
  height: 136px;
  position: relative;
  padding-left: 25px;
  padding-right: 22px; }

.arrowLeft {
  background: url(../images/icon_index.png) no-repeat;
  background-position: -195px -124px;
  width: 23px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 0px; }

.goodsBox {
  height: 136px;
  width: 900px;
  overflow: hidden; }

.arrowRight {
  background: url(../images/icon_index.png) no-repeat;
  background-position: -248px -116px;
  position: absolute;
  top: 50px;
  right: 5px;
  width: 23px;
  height: 100px; }

.goodsBox ul {
  width: 2700px;
  height: 136px; }

.goodsBox ul li {
  width: 225px;
  height: 136px;
  padding-top: 18px;
  float: left; }

.goodsBox ul li a img {
  width: 100px;
  height: 100px;
  float: left; }

.nfsm {
  width: 103px;
  height: 110px;
  float: right; }

.nfsm h1 {
  font-size: 14px;
  width: 92px;
  height: 50px;
  display: block; }

.buName {
  display: block;
  width: 84px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  background: #ce1c00;
  border-radius: 3px; }

strong {
  color: red; }

.goodsSel {
  width: 960px;
  height: 422px;
  border: 1px solid #ccc;
  margin-bottom: 15px; }

.shaixuan {
  background: #f7f7f7;
  height: 32px;
  color: black;
  line-height: 32px;
  padding-left: 6px; }

.shaixuan span {
  font-size: 12px;
  color: red; }

.listUl {
  width: 930px;
  height: 365px;
  padding: 5px 15px;
  font-size: 12px; }

.liOne {
  border-bottom: 1px solid #ccc;
  width: 930px;
  height: 58px;
  padding-bottom: 5px;
  margin-bottom: 15px; }

.country {
  width: 70px;
  height: 26px;
  float: left;
  text-align: center;
  color: black;
  line-height: 26px;
  font-weight: bold; }

.countryList {
  width: 850px;
  height: 58px;
  float: left; }

.countryList a {
  width: 74px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  padding: 0 5px;
  color: #444444;
  margin: 3px 0;
  text-align: center; }

.brandMore {
  width: 930px;
  height: 130px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc; }

.pinCon {
  width: 850px;
  height: 130px;
  float: left; }

.pinCon a {
  float: left;
  padding: 6 5px;
  display: block;
  line-height: 22px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  width: 120px;
  color: #444444;
  margin-right: 15px;
  padding: 0 5px;
  text-align: center;
  text-indent: 5px;
  overflow: hidden; }

.liThree a {
  display: block;
  width: 130px;
  float: left;
  text-align: center; }

.sort {
  width: 958px;
  height: 40px;
  border: 1px solid #dfdfdf;
  background: #f7f7f7;
  margin-bottom: 13px;
  line-height: 40px; }

.sorting {
  width: 347px;
  float: left;
  font-size: 12px;
  color: #444;
  margin-top: 5px; }

.sorting a {
  height: 28px;
  padding: 0 15px;
  color: #333333;
  display: block;
  float: left;
  line-height: 28px; }

.sorting a:nth-of-type(1) {
  background: #cc1d00;
  color: #fff; }

.search {
  float: left; }

.search span {
  font-size: 12px; }

.search input {
  width: 40px;
  height: 20px;
  border: 1px solid #ccc;
  text-align: center; }

.search input:nth-of-type(3) {
  background: #cc1d00;
  color: #fff;
  height: 28px; }

.totalp {
  float: right;
  padding-right: 10px;
  line-height: 40px;
  font-size: 12px;
  color: #444444;
  width: 93px;
  height: 40px; }

.result {
  width: 960px;
  height: 3060px; }

.result ul li {
  width: 238px;
  height: 310px;
  float: left;
  position: relative;
  border: 1px solid #fff;
  border-bottom: 2px solid #fff; }

.sort1 {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  margin-bottom: 5px; }

.sort1 img {
  width: 180px;
  height: 180px; }

.price-info {
  width: 180px;
  margin: 0 auto; }

.price-info strong {
  font-size: 16px;
  line-height: 26px;
  color: #c91f00; }

.unit-price {
  border-left: 1px solid #c91f00;
  font-size: 12px;
  display: inline-block;
  height: 12px;
  padding-left: 5px;
  line-height: 12px;
  margin-left: 10px;
  color: #c91f00; }

.result ul li p {
  width: 185px;
  height: 32px;
  margin: 0 auto; }

.result ul li p a {
  font-size: 12px;
  color: #444;
  display: block;
  height: 32px;
  line-height: 16px;
  margin: 0 auto; }

.food-count {
  padding-right: 8px;
  border-right: 1px solid #ce110f;
  margin-right: 8px;
  font-weight: 400; }

.ass {
  width: 185px;
  height: 31px;
  margin: 0 auto; }

.ass span {
  display: inline-block;
  border: 1px solid #b5dbf1;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  color: #4693c1;
  padding: 0px 10px;
  margin-top: 5px; }

.btn {
  position: absolute;
  bottom: 0px;
  width: 180px;
  height: 30px;
  margin: 0 auto;
  display: none; }

.addCar {
  background: url(../images/assBtn.png) no-repeat;
  width: 119px;
  height: 30px;
  float: left;
  color: #fff;
  padding-left: 20px;
  font-family: "宋体";
  margin-left: 26px; }

.footer {
  height: 489px; }

.promise {
  height: 46px;
  border-top: 1px solid #e4e4e4;
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  margin-top: 0; }

.footer-art {
  height: 46px;
  margin-left: 40px; }

.footer-art dl {
  float: left;
  font-size: 12px;
  color: black;
  height: 46px; }

.pro1 {
  width: 215px; }

.pro2 {
  width: 245px; }

.pro3 {
  width: 205px; }

.footer-art dl span {
  display: block;
  float: left;
  width: 45px;
  height: 45px;
  font-size: 12px;
  margin-right: 10px; }

.i1 {
  background: url(../images/icon_index.png) no-repeat;
  background-position: -58px -345px; }

.i2 {
  background: url(../images/icon_index.png) no-repeat;
  background-position: -113px -345px; }

.i3 {
  background: url(../images/icon_index.png) no-repeat;
  background-position: -166px -345px; }

.i4 {
  background: url(../images/icon_index.png) no-repeat;
  background-position: -220px -345px; }

.i5 {
  background: url(../images/icon_index.png) no-repeat;
  background-position: -274px -345px;
  margin-right: 0; }

.footer-art dt {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px; }

.footer-art dd {
  line-height: 22px;
  color: #666; }

.forLink {
  width: 1100px;
  height: 126px;
  padding: 30px 45px; }

.forLink dl {
  float: left;
  width: 200px; }

.forLink dl dt {
  font-size: 15px;
  height: 26px;
  color: black;
  font-weight: 600; }

.forLink dl dd {
  font-size: 12px;
  line-height: 20px; }

.forLink dl dd a {
  color: #666;
  cursor: pointer; }

.gouApp {
  width: 95px;
  height: 121px;
  float: left; }

.gouApp h4 {
  font-size: 15px;
  font-weight: 600;
  height: 26px;
  line-height: 26px;
  width: 95px;
  text-align: center; }

.gouApp img {
  width: 95px;
  height: 95px; }

.about {
  height: 215px;
  background: #fff;
  padding-bottom: 15px; }

.ablink {
  height: 35px;
  line-height: 35px;
  background: #444851;
  text-align: center; }

.ablink a {
  color: #adadad;
  padding: 0 17px;
  font-size: 12px; }

.ablink a:hover {
  color: white; }

.about p {
  font-size: 12px;
  text-align: center; }

.ablink-p2 {
  line-height: 24px;
  font-size: 12px;
  height: 24px;
  float: left;
  width: 1190px;
  position: relative; }

.ablink-p2 img {
  width: 20px;
  height: 20px;
  float: left;
  position: absolute;
  left: 220px; }

.newcor {
  width: 356px;
  height: 62px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  margin-top: 20px; }

.newcor a {
  float: left; }

.newcor a:nth-child(2) {
  margin: 0 10px; }
