@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,select{margin:0;padding:0;}
body{font-size:16px;font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
a,u{text-decoration: none;;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
img{border:0;display:block;}
.clearfix:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility: hidden;}

.settleTop,.regMain{width:1000px;margin:0 auto;}
.settleTop{height:110px;padding-top:20px;}
.settleTop h1{float:left;}
.stepCar{float:right;margin-top:25px;}
.regMain{height:600px;}
.regLeft{width:500px;height:200px;float:left;}
.regRight{border: #ccc 1px solid;
    border-top: #ea3918 2px solid;
    width: 290px;
    float: left;
    margin-right: 80px;
    margin-top: 30px;
    padding: 20px 40px;
   }
.regRight h2{    
    float: left;
    font-size: 22px;
    color: #444;
}
.denglu{
    width: 290px;height:24px;margin-bottom:20px;
}
.rR>a{
    float: right;font-size:12px;text-align: right;
    display: block;color:#999;
    line-height: 24px;
    width:160px;}
.loginForm{width:290px;height:269px;}
.liLab{position: relative;width:290px;height:56px;}
.user{display: block;width: 32px;background: url(../images/tegPng.png) no-repeat 0 -52px;
    height: 32px;position: absolute;top:0;left:0;}
.liLab input{border: 1px solid #dedede;
    color: #999;padding-left: 40px;
    width: 240px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;}
.focusTex{line-height: 24px;
    color: #ff6b52;font-size:12px;display:none;
    height: 24px;}
.userpass{
    background: url(../images/tegPng.png) no-repeat 0 0;
}
.code{    border: 1px solid #dedede;
    color: #999;
    font-size: 14px;
    height: 30px;
    line-height: 30px;width:100px;}
.liLab4 a{float:right;display: block;width:60px;height:16px;font-size:12px;}
.liLab5{width:290px;height:40px;line-height: 40px;text-align: center;border-radius: 3px;}
#input3{
    width:290px;height:40px;background:#e83917;color:#fff;font-weight:900;font-size:20px;
}
.qita{width:290px;padding-top: 20px;}
.qita h4{font-size:12px;float:left;}
.qita a{float:left;width: 20px;height: 20px;display: inline-block;margin-left:10px;}
.qq{background:url(../images/tegPng.png) no-repeat;background-position:-26px -128px;}
.qq{background:url(../images/tegPng.png) no-repeat;background-position:-26px -128px;}
.alipy{background:url(../images/tegPng.png) no-repeat;background-position:-106px -128px;}
.qws360{background:url(../images/tegPng.png) no-repeat;background-position:-147px -382px;}
.sina{background:url(../images/tegPng.png) no-repeat;background-position:-66px -128px}