@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,select{margin:0;padding:0;}
body{font-size:16px;font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
a,u{text-decoration: none;;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
img{border:0;display:block;}
.clearfix:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility: hidden;}

#header,.header-top,.article,.lunbo,.article-zdq,.article-mbot1,.timeCon,.banAds,.saleTody,.yilou,.footer-art,.about,.footer{width:1190px;margin:0 auto;}
body{
    background: #f3f3f3;   
}
/*头部*/
header {
  height: 36px;
  background: #f5f5f5; }

#header {
  height: 36px;
  font-size:12px;
  line-height:36px;
}
.p1{
    width:200px;
    line-height: 36px;
    font-size:12px;
    float:left;   
}
.p1 a{
    color:#999;
}
.p1>span a:hover{
    color:red;
}
.p2{
    width:200px;
    float:left;
}
.p2>span{
    float:left;color:#999;
}
.p2>a:nth-of-type(1){
    display: block;
    float: left;
    width: 20px;
    height: 36px;
    margin-right: 3px;
    background: url(../images/icon_index.png) no-repeat;
    background-position: -378px 10px;
}
.p2>a:nth-of-type(2){
    display: block;
    float: left;
    width: 20px;
    height: 36px;
    margin-right: 3px;
    background: url(../images/icon_index.png) no-repeat;
    background-position: -414px 10px;
}
.p2>a:nth-of-type(3){
    display: block;
    float: left;
    width: 20px;
    height: 36px;
    margin-right: 3px;
    background: url(../images/icon_index.png) no-repeat;
    background-position: -449px 10px;
}
.p2>a:nth-of-type(4){
    display: block;
    float: left;
    width: 20px;
    height: 36px;
    margin-right: 3px;
    background: url(../images/icon_index.png) no-repeat;
    background-position: -485px 10px;
}
.p3{
    width:171px;
    float:left;
    color:#999;
}
.fr{
    width:422px;
    height:36px;
    float:right;
}
.fr ul li{
    float:left;color:#999;
}
.fr ul li>a{
    color:#999;
}
.fr>ul>li:hover a{
    color:red;
}
.fr ul li>b{
    margin:0 5px;
}
.icon-msnui-tel:hover{
    color:red;
}
#wode{
    position: relative;
}
#wode>ul{
    position: absolute;
    left: -1px;
    top: 36px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 2;
    border-top: none;
    padding: 0 0 5px 10px;
    display: none;
}
.icon-star:hover{
     color:red;
}
.erwei{
    position: relative;
}
.noneCon{
    position: absolute;
    left: -148px;
    top: 34px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 2;
    border-top: none;
    padding: 4px 0;
    display: none;
    width: 240px;
    height: auto;
   
}
//logo区域
#header-top{
    background: #FFFFFF;
}
.header-top{
    height:120px;
}
.logo{
    width:300px;
     height:90px;
     float:left;
}
.logoCen{
     width:625px;float:left; margin-top: 35px;
}
form{
   
}
.sosuo{
    float: left;
    width: 400px;
    line-height: 35px !important;
    height: 35px;
    border: 2px solid #cb1e00;
    font-size: 14px;
    color: #b8b8b8;
    text-indent: 11px;
}
.sub{
    float: left;
    width: 90px;
    height: 39px;
    background: #cc1d00;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-family: Microsoft Yahei,"microsoft yahei";
    border: 0px;
   
}
.topAd{
    float:right;
    padding-top:10px;
}
.hot{
    width: 423px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #9a9a9a;
    overflow: hidden;
    text-align: left;
    float: left;
}

//article
.article{
    height:36px;
}
.article-L{
    width: 180px;
    text-align: center;
    background: #CB351A;
    font-size: 15px;
    line-height: 36px;
    height: 36px;
    font-family: "microsoft yahei";
    float: left;
    color: #fff;
}
.nav-list{
    width:650px;
    height:36px;
    line-height: 36px;
    float:left;
}
.nav-list li{
    float:left;
    font-size:14px;
    padding:0 12px;
   
}
.nav-list li a{
     color:#666;
}
.nav-list li:nth-child(3){
    position:relative;
}
.nav-list li:nth-child(3)>img{
    position:absolute;
    right: -5px;top: 0px;
}
.nav-list li:nth-child(5){
    position:relative;   
}
.nav-list li:nth-child(5)>span{
    position:absolute; 
    right: -5px;
    top: 0px;
    display: block;
    width:18px;height:18px;
    background: url(../images/icon_index.png) no-repeat scroll -107px 0;
}
.nav-list li:hover a{
    color:red;
}
.article-R{
    width:198px;
    height:33px;
    line-height: 33px;
    background: #F5F5F5;
    float:right;
    font-size: 14px;
}
.icon-gouwuche{
    margin-left:50px;
}
//轮播
#sildeImg{
    height:480px;
     position:relative; 
}

.lunbo_init{
    width:810px;
    height:480px;
    margin:0 auto;
     position:relative;
}
.ul{
   overflow: hidden;
}
.ul>li{
    position:absolute;
            top:0;
            left:0;
}
.marketBtn{
            position: absolute;
            bottom: 12px;
            width: 810px;
            height:58px;
            background: skyblue;
            padding-top: 8px;
        }
 .marketBtn>li{
            float: left;
            width: 157px;
            height: 50px;
            margin: 0 2px;
            cursor: default;

    }

.beijing div{
    position: absolute;
     height: 480px;
     top: 0px;
    left: 0px;
    width: 100%;
}
.beijing>div:nth-child(1){
    background:rgb(131,215,238);  
}
.beijing>div:nth-child(2){
    background:rgb(254,222,204);  
}
.beijing>div:nth-child(3){
    background:rgb(254,228,229);  
}
.beijing>div:nth-child(4){
    background:rgb(209,8,33);  
}
.beijing>div:nth-child(5){
    background:rgb(254,226,212);  
}
//轮播左边菜单
.ul-cont{
    position: relative;
    width: 180px;
    height: 480px;
//  overflow: hidden;
    background: #cb3e25;
    float:left;
}
.ul-cont>li{
    
    border-bottom: 1px solid #b82f17;
    border-top: 1px solid #da5a44;
    height: 49px;
    line-height: 20px;
    padding: 1.2px 0;
}
.ul-cont li:nth-of-type(1){
    position: relative;
}
.ul-cont i{display: inline-block;width: 39px;height: 49px;float: left;margin-right: 10px;font-size: 16px;text-align: right;text-decoration: none;    
   
}
.nav-icon1{
    background: url(../images/icon_index.png) no-repeat;
    background-position: right -50px;
}
.nav-icon2{
    background: url(../images/icon_index.png) no-repeat;
    background-position: right -100px;
}
.nav-icon3{
    background: url(../images/icon_index.png) no-repeat;
    background-position: right -142px;
}
.nav-icon4{
    background: url(../images/icon_index.png) no-repeat;
    background-position: right -186px;
}
.nav-icon5{
    background: url(../images/icon_index.png) no-repeat;
    background-position: right -230px;
}
.nav-icon6{
    background: url(../images/icon_index.png) no-repeat;
    background-position: right -260px;
}
.nav-icon7{
    background: url(../images/icon_index.png) no-repeat;
    background-position: right -316px;
}
.nav-icon8{
    background: url(../images/icon_index.png) no-repeat;
    background-position: right -360px;
}
.nav-icon9{
    background: url(../images/icon_index.png) no-repeat;
    background-position: right -396px;
}
.ul-cont h3{
    margin-top: 5px;
}
.ul-cont h3 a{
     font-size: 14px;
     color:#FFFFFF;
}
.ul-cont li h4 a{
     color: #eca598;
    font-size: 12px;
}
.nelBox{
    position: absolute;
    display: none;
    background: #F7F7F7;
    left: 180px;
    width:400px;height:456px;
    z-index:100;
    top:0px;
    padding: 12px 8px 12px 15px;
    line-height: 20px;
}
.p-list{
    border-bottom:1px dashed #CCCCCC;
    padding-bottom: 8px;
}
.p-list strong{
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
}
.p-list a{margin-right: 17px;line-height: 20px;display: inline-block;color:#9A9A9A;font-size:12px;}
.p-list a:hover{color:red;}
//幻灯片右侧广告
.market-ad-r{width:200px;height:479px;position: absolute;right: 27px;top: 0px;background:#E7E1CD;}
.lask1{display: block;margin-top: 1px;width: 200px;height: 159px;background: #fff;opacity: 0.9; }
//整点抢
.article-zdq{height:463px;}
.conTit{height: 38px;line-height: 46px;margin-top:20px;overflow: hidden;}
.bold{float: left;font-size: 18px; margin-right: 10px;width:100px;height:46px;font-weight: bold;}
.iTit{background:url(../images/icon_index.png) no-repeat;background-position: -58px -44px;display: block;float: left;width: 38px;height: 38px;margin-right: 5px;}
.subTit{padding-top: 3px;color: #999;}
//.timeCount{width:322px;height:37px;left: 225px;color: #999;}
.timeTit{height:42px;background:#333333;width:1190px;}
.timeTit ul li{   float: left;width: 238px;height: 37px;padding-top: 5px;font-size: 12px;}
.timeTit ul li:nth-of-type(1){background:red;}
.timeTit ul li:hover{background: #666666;}
.timeTit ul li a{display:block;height:17px;line-height: 17px;text-align: center; color: #e2e2e2;}
.timeCon1{width:1200px;height:345px;}
.timeCon1 li{width:290px;height:345px;float:left;background: #fff;margin-right:10px;}
.zd1{display: block; width: 240px;margin: 15px auto 5px;}
.name{padding:0 20px 0px 20px;font-size: 14px;height:39px;width:250px;   margin-bottom: 4px;}
.name a{color: #666;}
.price{padding-top:3px;line-height: 27px;font-size: 12px;float:left;padding: 0 0 0 20px;}
.price b{font-size: 18px;font-weight: bolder;line-height: 27px;color: #e02200;}
.buyBtn{float: right;}
.buyBtn a{display: block;width:90px;height:30px;font-size: 15px;text-align: center;color: #fff;background: #f95d5e;border-radius: 3px;line-height: 30px;margin-right: 10px}
.moreInfo{float:right;width:33px;height:46px;display:block;font-sioze:14px;color:#999;}

//排行榜
.banAds{height:200px;margin-top:20px;}
.banAds a{float:left;}
.banAds a:nth-child(1){margin-right: 10px;}
//天天特卖
.bold2{width:115px;}
.bold2 i{ background:url(../images/icon_index.png) no-repeat;background-position: -152px -44px;}
.saleTody{height:290px;}
.saleTody ul{width:1200px;}
.saleTody ul li{width: 290px;height:290px;float: left;margin:0 10px 10px 0;background: #fff;
    box-shadow: 0px 0px 5px 0px #d8d7d7;}
.saleTody ul li a{width: 290px;height:230px;overflow: hidden;display: block}   
 .saleTody ul li:nth-last-of-type{margin-right: 0;}   
.saleTody ul li img{width: 290px;height:230px;}
.saleTit{height: 60px;line-height: 60px;padding: 0 10px;}
.saleTit h3{float: left;width: 180px;color: #444;padding-top: 6px;}
.saleTit h3 p{line-height: 24px;font-size: 14px;height: 24px;}
.limit{font-size: 12px;color: #999;}
.limit i{padding: 3px 10px;background: url(../images/icon_index.png) no-repeat;background-position: -520px 3px;}
.djs_20291{font-size: 12px;color: #B8B8B8;}
.saleTit>span{float: right;color: #e02200;}
.saleTit span b{font-size: 2em;margin-right: 3px;}
//一楼
.yilou{height:495px;margin-bottom:30px;}
.yilou>div{float:left;}
.leftCon{width: 180px;height:490px;background:#fff;}
.foorTit{width:180px;background: #03a4fe; border-color: #c9ebff;height: 42px;margin-top: 4px;line-height: 40px;color: #fff;font-size: 16px;border-bottom: 4px solid #fff;}
.foorTit b{background: url(../images/icon_index.png);background-position: -59px -411px;    display: block;width: 30px;height: 40px;line-height: 50px;margin: 0 11px 0 28px;font-size: 18px;color:#fff;font-weight: 900;text-align:center;float: left;}
.subCate{width:153px;padding: 13px 0 13px 25px;height: 210px;}
.subCate a{display:block;width: 62px;font-size: 12px;height: 30px;float: left;color:#969896;line-height: 30px;margin-right: 10px;
}
.subCate a:hover{color:red;}
.brTab{width: 178px;height:207px;position: relative;}
.prev{cursor: pointer;position: absolute;left: 5px;top:60px;width:30px;height: 82px;background:    url(../images/icon_index.png);background-position: -308px -124px;cursor: pointer;z-index: 20;}
.prev-r{position: absolute;right: 5px;
top: 60px;width: 30px;height: 82px;background: url(../images/icon_index.png);background-position: -345px -124px;cursor: pointer;z-index: 20;}
.br-b{width: 90px;height: 207px;margin: 0 auto;overflow: hidden;
    position: relative;}
.br-list{width:360px;height:200px;position: absolute;}
.br-list li{width:90px;float: left;}
.br-list li a{display: block;width: 90px;height: 35px;margin-bottom: 15px;float: left;}

.midFir{width:520px;height:490px;margin:0 10px;}
.midFir1{display: block;width:518px;height: 322px;}
.midFir2{display: block;width:518px;height: 155px;margin-top: 10px;}
.midSec{width:230px;height:490px;margin-right: 10px;}
.midSec1{display: block;width:228px;height: 322px;}
.midSec2{display: block;width:228px;height: 155px;margin-top: 10px;}
.rightCon{width:230px;height:490px;}
.rightCon a{display: block;width:228px;height: 155px;}
.rightCon2{margin:10px 0}
.foorTit2{background: #fb5d5c;border-color: #ffd0d0;}
.foorTit2 b{background:lightpink;}
.foorTit3{background: #32b16a;border-color: #badecb;}
.foorTit3 b{background:#55A532;}
.foorTit4{background: #50d4d9;border-color: #cef0f0;}
.foorTit4 b{background:#87CEEB;}
.foorTit5{background: #f362b3;border-color: #fcd6eb;}
.foorTit5 b{background:pink;}
//底部列表
.article-mbot1{height:221px;background: #FFFFFF;}
.botCol{width: 100%;border-bottom: 1px solid #ddd;margin-bottom: 30px;}
.colist{width:198px;height:190px;float:left;}
.fotbg1{width: 41px;height: 41px;margin: 15px auto 10px;background: url(../images/icon_index.png) no-repeat;background-position: -59px -244px;}
.fotbg2{background: url(../images/icon_index.png) no-repeat;background-position: -110px -244px;}
.fotbg3{background: url(../images/icon_index.png) no-repeat;background-position: -161px -244px;}
.fotbg4{background: url(../images/icon_index.png) no-repeat;background-position: -212px -244px;}
.fotbg5{background: url(../images/icon_index.png) no-repeat;background-position: -263px -244px;}
.fotbg6{background: url(../images/icon_index.png) no-repeat;background-position: -315px -244px;}
.colist ul{width:148px;height:72px;padding: 0 25px;}
.colist ul li{font-size: 12px;float: left;width: 60px;line-height: 24px;margin-left: 12px;}
.sup-btn{color:#fff; width:80px;height:22px;padding-right: 10px;line-height: 22px; margin: 15px auto 15px;text-align: center;background: url(../images/icon_index.png) no-repeat;background-position: -59px -307px;}
//底部背景
.footBg{background: url(../images/footBg.jpg) no-repeat center center;
    width: 100%;height: 380px;margin: 20px 0 0px 0;position: relative;margin-top: -10px;
}
//底部
.footer{height:489px;}
.promise{
    height:46px;border-top: 1px solid #e4e4e4;
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    margin-top: 0;
}
.footer-art {height:46px;margin-left:40px;}
.footer-art dl{float:left;font-size: 12px;color:black;height:46px;}
.pro1{width: 215px;}
.pro2{width: 245px;}
.pro3{width: 205px;}
.footer-art dl span{display: block;float: left;width: 45px;height: 45px;font-size: 12px;margin-right:10px;}
.i1{ background:url(../images/icon_index.png) no-repeat;background-position:-58px -345px;}
.i2{background:url(../images/icon_index.png) no-repeat;background-position:-113px -345px;}
.i3{background:url(../images/icon_index.png) no-repeat;background-position:-166px -345px}
.i4{background:url(../images/icon_index.png) no-repeat;background-position:-220px -345px;}
.i5{background:url(../images/icon_index.png) no-repeat;background-position:-274px -345px;margin-right: 0;}
.footer-art dt{font-size: 15px;font-weight: bold;line-height: 24px;}
.footer-art dd{line-height: 22px;color:#666;}

.forLink{width: 1100px;height:126px;padding: 30px 45px;}
.forLink dl{float: left;width: 200px;}
.forLink dl dt{font-size: 15px;height: 26px;color:black;font-weight: 600;}
.forLink dl dd{font-size:12px;line-height: 20px;}
.forLink dl dd a{color:#666;cursor:pointer;}
.gouApp{width:95px;height:121px;float:left;}
.gouApp h4{font-size: 15px;font-weight: 600;height:26px;line-height:26px;width:95px;text-align: center;}
.gouApp img{width:95px;height:95px;}
.about{height:215px;background: #fff;padding-bottom: 15px}
.ablink{height:35px;line-height:35px; background: #444851;text-align: center;}
.ablink a{color: #adadad;padding: 0 17px;font-size: 12px;}
.ablink a:hover{color:white;}
.about p{font-size:12px;text-align: center;}
.ablink-p2{line-height: 24px;font-size: 12px;height:24px;float:left;width:1190px;position: relative;}
 .ablink-p2 img{width:20px;height:20px;float:left;position: absolute;left:220px}  
.newcor{width: 356px;height: 62px;margin: 0 auto;padding-top: 30px;text-align: center;margin-top:20px;}
.newcor a{float:left;}
.newcor a:nth-child(2){margin:0 10px;}
