@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,select{margin:0;padding:0;}
body{font-size:16px;font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
a,u{text-decoration: none;;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
img{border:0;display:block;}
.clearfix:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility: hidden;}

.myshopping{
    width:1002px;height:309px;margin:200px auto;border:1px solid #9F1431;
}
.myshopping h1{
    height:30px;background:#c97070;font-size:16px;font-weight: 900;color:#F1EFF0;line-height: 30px;padding-left: 20px;
}
form{
    width:960px;height:279px;margin:8px auto;position: relative;
}
.allCho{
   height:40px;font-size:12px;
}
.allCho>input{width:15px;height:15px;}
table{
    width:100%;font-size:12px;height:40px;line-height: 40px;
}
table td{    background-color: #eee;
    height: 28px;
    line-height: 28px;
    color: #444;border:1px solid #ccc;
    font-size: 12px;
    padding: 0px 5px;}
tbody{
    height:119px;width:959px;
}
.saleTd{width:959px;
    background: #e0f2f1;
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
    color: #00a5b1;
}
.saleTd>td{
    width:959px;
}
.saleTd em{
    display: inline-block;
    background: #6bcbd2;
    line-height: 20px;
    padding: 0px 8px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin: 4px 8px;
    float: left;
    border-radius: 5px;
}
.selfpostage{
        display: inline-block;
    border: 1px solid #74ced4;
    background: #fff;
    line-height: 20px;
    padding: 0px 4px;
    height: 20px;
    text-align: center;
    color: #74ced4;
    font-size: 12px;
    margin: 3px 20px;
    font-weight: normal;
}
.no{
   height:50px;border:1px solid #ccc;width:959px;
}
.no-td{
     height:50px;
}
.no-td>input{
    float:left;
}
.picture{
    color: #0064ed;
    text-align: center;
    font-size: 12px;margin:0 20px;
    color: #333;float:left;
    line-height: 19px;
    width:50px;height:50px;
}
.picture a img{
    width:50px;height:50px;
}
.shuoming{
    height:40px;font-size: 12px;width:300px;float:left;
}
.sum{
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #eee;
    width: 20px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
}
.input-sum{
    height: 24px;width:30px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    margin: 0px;
    border-left: none;
    border-right: none;
}
.carAccountMain{
    width: 959px;position: absolute;bottom:20px;
    background-color: #f0f0f0;
    height: 45px;
    font-size: 12px;
    color: #333;
    line-height: 19px;
}
.accountL{
      margin: 0 auto;float: left;
    text-align: left;
    font-size: 12px;
    color: #333;
    line-height: 19px;
}
.accountL span{
        padding-left: 30px;
    line-height: 45px;
}
.accountR{
    margin: 0 auto;
    text-align: left;
    font-size: 12px;height:45px;
    color: #333;float:right;
    line-height: 45px;
} 
.accountR span{
    color: #444;
    padding-right: 15px;
    display: inline-block;
}
